@import "../../scss/mixins";
@import "../../scss/variables";


form {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .add-article-title {
    @include title;
  }

  label {
    display: block;
    font-size: 16px;
    margin: 30px 0 10px;
  }

  .input-txt {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $black;
    outline: none;
    font-family: $font-fam;

    &::placeholder {
      font-size: 16px;
    }
  }

  #article {
    margin-bottom: 30px;
    min-height: 200px;
    @extend .input-txt;

    &::placeholder {
      font-size: 16px;
    }
  }

  .submit-btn {
    width: 200px;
    margin: 0 auto;
    padding: 10px 0;
    cursor: pointer;
    font-family: $font-fam;
    font-size: 16px;
  }
}
